html {
    background: #e6f5f9 url('images/bg_glow.gif') repeat-x;
}

body {
    margin: 0;
    font-family: "dejarip", sans-serif;
    font-size: 15px;
}

.header-wrap {
    height: 276px;
}

.header-content {
    width: 960px;
    margin: 0 auto;
    position: relative;
}

.header-content h1 {
    padding-left: 50px;
    position: relative;
    top: 50px;
    width: 410px;
}

.content {
    width: 960px;
    background: url('images/texture_mid.gif');
    margin: -140px auto 0 auto;
    z-index: 5;
    position: relative;

    -moz-box-shadow: 0 0 3px #666;
    -webkit-box-shadow: 0 0 3px #666;
    box-shadow: 0 0 3px #666;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.content-main {
    width: 598px;
    padding: 20px;
    float: left;

    background: url('images/texture_light.gif');
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    border-right: 1px solid #e3e2e1; 
}

.content-aside {
    width: 280px;
    padding: 20px;
    float: right;
    background: url('images/texture_mid.gif');

    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.nav {
    position: absolute;
    width: 420px;
    top: 60px;
    right: 0;
}

.nav li {
    float: left;
    margin-left: 30px;
}

.nav li a {
    display: block;
    padding: 5px 7px;
    text-decoration: none;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #aa3131;
    border: 1px solid transparent;
}

.nav li a:hover, .nav li a.current_page_item {
    background-color: #566b2a;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    text-shadow: -1px -1px #962727;
    border: 1px solid #962727; 

    background: #c64444; /* Old browsers */
    background: -moz-linear-gradient(top, #c64444 26%, #aa3131 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(26%,#c64444), color-stop(100%,#aa3131)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #c64444 26%,#aa3131 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #c64444 26%,#aa3131 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #c64444 26%,#aa3131 100%); /* IE10+ */
    background: linear-gradient(top, #c64444 26%,#aa3131 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c64444', endColorstr='#aa3131',GradientType=0 ); /* IE6-9 */

    -moz-box-shadow: 0px 0px 3px #aaa;
    -webkit-box-shadow: 0px 0px 3px #aaa;
    box-shadow: 0px 0px 3px #aaa;
}


h1, h2, h3, h4, h5, h6 {
    font-family: "luminance", georgia, sans-serif;
    border-bottom: 2px solid #566b2a;
    margin-bottom: 10px;
    color: #393732; 
}

h1 {
    font-size: 40px;
    background: url('images/chicken.png') no-repeat;
    border: 0;
}
h1 a {
    text-decoration: none;
    color: #000;
}

h2 {
    font-size: 34px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 22px;
}

h3.how_it_works {
    margin-top: 15px;
}


p {
    margin-bottom: 10px;
}

a {
    color: #566b2a;
}

.step {
    margin-bottom: 9px;
}

.step-num {
    width: 26px;
    height: 27px;
    float: left;

    background-color: #566b2a;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    color: #fff;
    text-shadow: -1px -1px #424e28;
    border: 1px solid #5C6B3B; 

    background: #707c54; /* Old browsers */
    background: -moz-linear-gradient(top, #707c54 0%, #536232 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#707c54), color-stop(100%,#536232)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #707c54 0%,#536232 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #707c54 0%,#536232 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #707c54 0%,#536232 100%); /* IE10+ */
    background: linear-gradient(top, #707c54 0%,#536232 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#707c54', endColorstr='#536232',GradientType=0 ); /* IE6-9 */

    -moz-box-shadow: 0px 0px 3px #aaa;
    -webkit-box-shadow: 0px 0px 3px #aaa;
    box-shadow: 0px 0px 3px #aaa;

}

.step .step-num span {
    display: block;
    padding: 3px 0 0 10px;
    color: #fff;
    font-size: 15px;
}

.step p {
    float: left;
    width: 560px;
    margin-left: 10px;
    margin-top: 4px;
}

.footer {
    width: 900px;
    margin: 0 auto;
    padding: 20px;
    background: #f8feff;

    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.footer .widget {
    width: 270px;
    margin-right: 30px;
    float: left;
}


.footer .widget p {
    font-size: 13px;
}

/* ---------------------------- */

.product {
    margin-bottom: 25px;
}

.product img {
    float: left;
    width: 53px;
    margin-right: 10px;
    margin-top: 5px;
}

.product span {
    float: left;
}

.product .product-title {
    display: inline;
    font-weight: bold;
}

.product .product-price {
    display: inline;
    color: #566b2a;
    font-size: 13px;
}

.product .product-desc {
    color: #393732;
    font-size: 12px;
}

.product-quantity {
    margin-top: 2px;
}


.add_to_cart_btn {
    display: inline-block;
    margin-top: 5px;
    clear: left;
    float left;
    font-size: 13px;
}


table.cart td {
    font-size: 13px;
}

.cart_qty_col {
    width: 60px;
    text-align: center;
}

.cart_product_name_col {
}

.cart_price_col {
    text-align: right;
}

.cart_remove_col {
    width: 60px;
}

/* Tiny cart widget */
.wpchkt_w {
    float: right;
    padding: 10px 15px;
    background: #fff;
    position: absolute;
    right: 15px;

    box-shadow: 0 0 2px #ddd;
    -moz-box-shadow: 0 0 2px #ddd;
    -webkit-box-shadow: 0 0 2px #ddd;

    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
/* ---------------------------- */



.green-button {
    background-color: #566b2a;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    text-shadow: -1px -1px #424e28;
    border: 1px solid #5C6B3B; 
    padding: 3px 7px;
    cursor: pointer;

    background: #707c54; /* Old browsers */
    background: -moz-linear-gradient(top, #707c54 0%, #536232 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#707c54), color-stop(100%,#536232)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #707c54 0%,#536232 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #707c54 0%,#536232 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #707c54 0%,#536232 100%); /* IE10+ */
    background: linear-gradient(top, #707c54 0%,#536232 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#707c54', endColorstr='#536232',GradientType=0 ); /* IE6-9 */
}


.welcome_photo {
    float: left;
    margin-right: 10px;
}

.polaroid {
    border: 5px solid #fff;

    -moz-box-shadow: 0px 0px 3px #aaa;
    -webkit-box-shadow: 0px 0px 3px #aaa;
    box-shadow: 0px 0px 3px #aaa;
}

.bg_contrast {
    z-index: -5;
    top: 200px;
    background: #ccc;
    width: 100%;
    height: 100%;
    position: absolute;
}

form {
    display: inline;
    margin: 0;
    padding: 0;
}

/* ---------------------------- */

.fl {
    float: left;
}

/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}

/* we want to use widget titles for organization in backend, but don't 
 * want then to display on the front end */
.cart.content-aside .widget_title { display: none; }

.content-aside .widget {margin-bottom: 25px;}


/* coming soon screen for users who aren't logged in */
.coming_soon {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color:rgba(255,255,255,0.9);
    z-index: 10;
    color: #000;
    padding-top: 90px;
}
